// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-item {
    margin-bottom: -$nav-tabs-border-width;
  }

  .nav-link {
    border: $nav-tabs-border-width solid transparent;
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus {
      border-color: $nav-tabs-link-hover-border-color;
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}


//
// Pills
//

.nav-pills {
  flex-direction: column;

  .nav-item {
    width: 100%;
    padding: 0 16px;
    display: inline-flex;
    position: relative;
    //justify-content: center;

    .nav-link {
      @include border-radius($nav-pills-border-radius);
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.4);
      padding: 12px 8px;
      width: 100%;
      border-radius: 4px;
      font-size: $font-size-base;
      font-weight: $font-weight-normal;

      i {
        margin-right: 8px;
        font-size: 24px;
      }
    }

    .nav-link.active,
    .show>.nav-link {
      color: $nav-pills-link-active-color;
      font-weight: $font-weight-bold;

    }

    &.active::before {
      content: "";
      height: 100%;
      width: 8px;
      background-color: #fff;
      position: absolute;
      left: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:hover {
      .nav-link {
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .nav-title{
      font-size: $font-size-base;
      text-transform: uppercase;
      color: $white;
      margin-bottom:8px;
    }

  }
  .nav-pill-divider{
    width: calc(100% - 32px);
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
  }

}

.nav-pills.light {
  flex-direction: column;

  .nav-item {
    width: 100%;
    padding: 0 16px;
    display: inline-flex;
    position: relative;
    //justify-content: center;

    .nav-link {
      @include border-radius($nav-pills-border-radius);
      display: flex;
      align-items: center;
      color: $gray-70;
      padding: 12px 8px;
      width: 100%;
      border-radius: 4px;
      font-size: $font-size-base;
      font-weight: $font-weight-normal;

      i {
        margin-right: 8px;
        font-size: 24px;
      }
    }

    .nav-link.active,
    .show>.nav-link {
      color: $green-haze;
      font-weight: $font-weight-bold;

    }

    &.active::before {
      content: "";
      height: 100%;
      width: 8px;
      background-color: $green-haze;
      position: absolute;
      left: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:hover {
      .nav-link {
        text-decoration: none;
        background-color: rgba(2, 158, 113, 0.1);
      }
    }
  }
  .nav-pill-divider{
    width: calc(100% - 32px);
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
  }

}





//
// Justified variantsnav-pill
//

.nav-fill {
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  >.tab-pane {
    display: none;
  }

  >.active {
    display: block;
  }
}