body {
  font-family: "OpenSans";
  font-size: 16px;
  color: #3c3a45;
  background-color: white;
}

.table-print {
  width: 100%;

  thead {
    tr {
      th{
        border-bottom: solid 1px #5e5e5e;
        border-top: none;
      }      
    }
  }

  tbody{
    tr{
      th,td{
        border: none;
      }     
    }
    tr:last-child{
      th,td{
        border-bottom: dashed 2px #dddddd;
      }       
    }
  }  

}

.invoice-details {
  dt {
    font-weight: bold;
    color: rgba(25, 25, 25, 0.4);
  }
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
  text-align: right;
}


.last-column {
  text-align: right;
}

.name {
  font-size: 16px;
  font-weight: bold;
}

.mt-32{
  margin-top: 32px;
}


.class-total {
  font-size: 10px;
  color: #191919;

  .ttc-class {
    font-weight: bold;
  }
}

.company-logo{
   widows: 80px;
   height: 40px;
   object-fit: cover;
}

.red{
  border: red solid 3px;
}