.wrapper.password-forgotten{
    background-color: #ececec!important;
}

.wrapper.password-forgotten .subtitle{
    font-weight: 300 ! important;
}

.wrapper.password-forgotten .form-group{
    margin-bottom: 24px ! important;
}