.email-tel-class {
  padding-right: 15px;
  padding-left: 15px;
}

.title-class {
  font-weight: 600;
}

.text-profile {
  color: #0059e5;
}

.text-profile:hover label{
  text-decoration: underline;
}

.subtitle-class {
  font-size: 0.75rem;
}
